<h3>Create Candy!</h3>
<fieldset>
  <form>
    <div class="form-group col-md-4">
      <input id="newCandyName" name="name" class="form-control" placeholder="Name"/>
    </div>
    <div class="form-group col-md-4">
      <input id="newCandyColor" name="color"  class="form-control" placeholder="Color"/>
    </div>
      <div class="form-group col-md-4">
        <input id="newCandySubmit" class="btn btn-info col-md-12" type="submit" value="Submit">
      </div>
  </form>
</fieldset>